In [1]:
import pandas as pd

In [2]:
word_freq.business_id.count()

NameError: name 'word_freq' is not defined

In [ ]:
word_freq.head()

In [6]:
def get_top_words(business_id, n=30):
    word_freq = pd.read_json('./wordfreq_bybusinessid_bigram.json', orient='records')
    words = word_freq[word_freq['business_id'] == business_id].drop('business_id', axis=1).T
    words.columns = ['word_freq']
    words = words.sort_values('word_freq', ascending=False) # CHANGE TO SORT VALUES
    words = words.reset_index()
    words.columns = ['word','frequency']
    return words.head(n)

words = get_top_words('__kNfrrGoUXoF-BYciMU_Q')

In [5]:
words

         word  word_freq
0        food        247
1      servic        224
2       place        195
3       great        180
4        good        153
5        back        141
6      friend        132
7       fresh        131
8         tri        130
9        will        116
10      order        108
11      staff        102
12     delici         98
13       time         97
14       like         92
15       menu         90
16       come         87
17    definit         86
18     realli         85
19       love         83
20       just         77
21        get         74
22       amaz         72
23       also         71
24      littl         67
25        one         66
26       came         66
27       wait         66
28  recommend         59
29       nice         57